<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>var_usrname | DiscordStats</title>
    <style>
    body {
      font-family: 'Roboto', sans-serif;
    }
    </style>
  </head>
  <body>
    <center>
    <h1><a href="/"> DiscordStats</a></h1>
    <script src="/files/Chart.js"></script>
    <div>
      <img src="var_avatarurl" alt="DiscordAvatar" height="128" width="128">
    </div>
      <div><h2>var_usrname</h2></div>
    <p>Messages: var_msgtotal</p>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    </style>
    <table class="tg">
      <tr>
        <th class="tg-baqh"></th>
        <th class="tg-baqh">Rank</th>
      </tr>
      <tr>
        <th class="tg-baqh">General</th>
        <th class="tg-baqh">var_totalrank</th>
      </tr>
    </table>
    <div style="position: relative; height:300px; width:600px">
    <canvas id="myChart"></canvas>
  </div>
  <div style="position: relative; height:300px; width:600px">
  <canvas id="myChart2"></canvas>
</div>
<div style="position: relative; height:300px; width:600px">
<canvas id="myChart3"></canvas>
</div>
    <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [var_labelnames],
        datasets: [{
            label: 'Total Messages',
            data: [var_datavalues],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    </script>
    <script>
    var ctx2 = document.getElementById("myChart2");
    var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: [var_labelnames],
        datasets: [{
            label: 'Daily Messages',
            data: [var_datavalue2],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    </script>
    <script>
    var ctx3 = document.getElementById("myChart3");
    var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: [var_labelnames],
        datasets: [{
            label: 'Rank',
            data: [var_datavalue3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    reverse:true
                }
            }]
        }
    }
});
    </script>
  </center>
  </body>
</html>
